body{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
  }

.user-input {
    display: block;
    margin: 15px auto;
    padding: 10px;
    width: 90%;
    border: 2px solid #4d004d;
    border-radius: 5px;
    font-size: 16px;
}

.user-input:focus, .user-input:active {
    outline: none;
    border-color: #4d004d;
    box-shadow: 0 0 5px rgba(0, 51, 204, 0.5);
}

.auth-heading {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.auth-form{
    width: 300px;
    border :  9px double #4d004d;
    padding: 20px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    background-color:white;
    position: relative;
}

.btn-auth {
    background-color: #4d004d;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    font-size: 16px;
}
.btn-auth:hover {
    transition: 0.3s;
    border: 2px solid #4d004d;
    background-color: white;
    color: #4d004d;
}

.auth-link {
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.auth-link:hover {
    text-decoration: underline;
}

.icon{
    height: 60px;
    width: 60px;
    position: relative;
    left: 40%;
}