.home-heading{

  font-size: 35px;
  padding-top: 15x;
  text-align: center;
  }

  .home-greeting{
   font-size: 45px;
  text-align: center;

  text-decoration: wavy;
  }
 
  .home-logout{
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 25px;
  }

  .add-text{
    position: fixed;
    top: 10px;
    height: 80px;
    width: 80px;
    cursor: pointer;
  }
  .add-text:hover{
    border: 5px double white;
    height: 80px;
    width: 80px;
    border-radius: 100px;
  }
  