
.card-container{
 background-color: white;
   height: 150px;
   width: 600px;
   border-radius: 30px;
   margin: 5px auto;
   padding: 5px;
   overflow-y: scroll;
   position: relative;
   box-shadow: 0 4px 8px white;
}  

.title{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
  text-align: center;
  color: white;
  height: 40px;
}

.description{
  font-size: 20px;
  position: absolute;
  left: 50px;
  top: 120px;
  height: auto;
  font-weight: 900;
}

.timing{
  position: absolute;
  top: 80px;
  left: 20px;
  font-weight: 900;
}

.delete-img{
  height: 25px;
  position: absolute;
  top: 80px;
  right: 20px;
  cursor: pointer;
}



